* {
    padding: 0;
    margin: 0;
    font-family: 'Termina', 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    transition: background-color 0.3s ease, color 0.3s ease;  
}

:root {
    --dark-color-deskp: #c0c0c0;
}
p {
    color:#555;
}
@font-face {
    font-family: 'Termina';
    src: url('./assets/fonts/Termina-Medium.otf') format('truetype');
    font-family: 'Montserrat';
    src: url('./assets/fonts/Montserrat-MediumItalic.ttf') format('truetype');
  }

/* основные стили для блоков */
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteiner {
    max-width: 1200px;
    margin: 0 auto;
}

.backgraund {
    height: 150px;
    background-color: #F3F3F3; 
    margin-bottom: 60px; 
    color: #007bff; 
}




/* Основной контейнер */
.greeting-page {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Выравниваем элементы по центру по вертикали */
    gap: 40px; /* Расстояние между текстом и картинкой */
    max-width: 1200px; /* Ограничиваем максимальную ширину */
    margin: 0 auto; /* Центрируем контейнер */
    padding: 20px; /* Отступы внутри контейнера */
}

/* Блок с текстом */
.greeting {
    flex: 1; /* Равномерное распределение пространства */
    max-width: 500px; /* Ограничиваем максимальную ширину текста */
}

/* Заголовок */
.greeting-title {
    font-size: 32px;
    color: #007bff;
    margin-bottom: 20px; /* Отступ снизу */
}

/* Описание */
.greeting-description {
    font-size: 18px;
    margin: 25px 0;
    line-height: 1.6;

}

/* Кнопка */
.greeting-button {
    border: none;
    padding: 12px 24px;
    color: #fff;
    border-radius: 30px;
    background-color: #5C8DFF;
    box-shadow: 0 8px 20px rgba(92, 141, 255, 0.3);
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease, box-shadow 0.3s ease;
}

.greeting-button:hover {
    background-color: #3A7DFF;
    box-shadow: 0 10px 25px rgba(58, 125, 255, 0.5);
    transform: translateY(-2px) scale(1.05);
}

/* Блок с картинкой */
.greeting-img {
    flex: 1; /* Равномерное распределение пространства */
    max-width: 500px; /* Ограничиваем максимальную ширину картинки */
    height: auto; /* Сохраняем пропорции */
    border-radius: 10px; /* Скругленные углы */
    object-fit: cover; /* Обрезаем картинку, чтобы она заполняла контейнер */
}

