* {
    padding: 0;
    margin: 0;
    font-family: "Termina";
}

@font-face {
    font-family: 'Termina';
    src: url('./assets/fonts/Termina-Medium.otf') format('truetype');
  }


.route {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 32px;
}


/* .center {
    padding-top: 40px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    gap: 20px;
} */

.conteiner {
    max-width: 1200px;
    margin: 0 auto;
}