* {
    padding: 0;
    margin: 0;
    font-family: 'Termina', 'Arial', sans-serif;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Termina';
    src: url('./assets/fonts/Termina-Medium.otf') format('truetype');
  }


.route {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 32px;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteiner {
    max-width: 1200px;
    margin: 0 auto;
}