

/* Адаптивность */
@media (max-width: 768px) {
    .greeting-page {
        flex-direction: column; /* На мобильных устройствах элементы располагаются вертикально */
        gap: 20px; /* Уменьшаем расстояние между элементами */
    }

    .greeting {
        max-width: 100%; /* Текст занимает всю ширину */
        text-align: center; /* Центрируем текст */
    }

    .greeting-title {
        font-size: 28px; /* Уменьшаем размер заголовка */
    }

    .greeting-description {
        font-size: 16px; /* Уменьшаем размер текста */
    }

    .greeting-button {
        font-size: 16px; /* Уменьшаем размер кнопки */
    }

    .greeting-img {
        max-width: 100%; /* Картинка занимает всю ширину */
    }
    .project-card {
        flex: 1 1 calc(50% - 1.5rem); /* 2 карточки в строке */
        max-width: 100%;
      }
    .blog-details-container {
        padding: 20px;
    }
  
    .blog-details-title {
        font-size: 24px;
    }
  
    .blog-details-content p,
    .blog-details-content h2 {
        font-size: 14px;
    }
    .hobby-card {
        max-width: 100%;
    }
  
    .hobby-image {
        height: 150px;
    }
  
    .hobby-title {
        font-size: 18px;
    }
  
    .hobby-text {
        font-size: 14px;
    }
  
    .more-text {
        font-size: 16px;
    }
  
    .more-button {
        padding: 10px 20px;
        font-size: 14px;
    }
    
}

@media (max-width: 480px) {
    .greeting-title {
        font-size: 24px; /* Еще меньше размер заголовка */
    }

    .greeting-description {
        font-size: 14px; /* Еще меньше размер текста */
    }

    .greeting-button {
        padding: 10px 20px; /* Уменьшаем размер кнопки */
        font-size: 14px;
    }
    .projects-container {
        gap: 1rem; /* Уменьшаем отступы */
      }
    
      .project-card {
        flex: 1 1 100%; /* 1 карточка в строке */
        max-width: 100%;
      }
    
      .project-card p {
        font-size: 0.9rem; /* Уменьшаем размер текста */
      }
      .hobby-image {
        height: 120px;
    }
  
    .hobby-title {
        font-size: 16px;
    }
  
    .hobby-text {
        font-size: 12px;
    }
  
    .more-text {
        font-size: 14px;
    }
  
    .more-button {
        padding: 8px 16px;
        font-size: 12px;
    }
    
}
